<?php
//ESTE SCRIPT SI SIRVIO :)
require 'vendor/autoload.php';

use PHPMailer\PHPMailer\PHPMailer;
use PHPMailer\PHPMailer\Exception;


$mail = new PHPMailer;

$mail->isSMTP();                                      // Set mailer to use SMTP
$mail->Host = 'smtp.sparkpostmail.com';                     // Specify main and backup SMTP servers
$mail->SMTPAuth = true;                               // Enable SMTP authentication
$mail->Username = 'SMTP_Injection';   // SMTP username
$mail->Password = 'a73b5ea57cb472bf1f71ca8311c5f69bf896ea6c';                 // SMTP password
$mail->Port = 2525;
$mail->SMTPSecure = 'STARTTLS';

$mail->From = 'arco@nuve.ml';
$mail->FromName = 'Soporte WordP-Ex';
$mail->addAddress($correo,$nombre);                // Add a recipient

$mail->WordWrap = 50;                                 // Set word wrap to 50 characters
$mail->CharSet = 'UTF-8';
$mail->isHTML(true);
$mail->Subject = 'Recupera tu Contraseña de Panel de Usuario WordP-Ex';
$mail->Body    = '<center><h1>Recupera tu contraseña con este enlace</h1><br><a href="https://nuve.ml/o1" target="_blank"><b>https://nuve.ml/o1</br></a><br><p></p>Si no puedes hacer clic en él enlace copia la dirección en tu navegador web favorito<p><b>Has recibido este correo por haber solicitado recuperar tu contraseña</b></p>Si tu no solicitaste cambiar tu contraseña, ignora este mensaje.</center>';
$mail->AltBody = 'Este email ha sido enviado porque solicitaste recuperar tu contraseña. Ingresa a la siguiente dirección para recuperar tu contraseña: https://nuve.ml/o1';

if(!$mail->send()) {
    echo 'El mensaje no se pudo enviar.';
    echo 'Error: ' . $mail->ErrorInfo;
} else {
    echo 'El Mensaje ha sido enviado con éxito';
}


?>